<form method="post" action="{{ path('akapit_delete', {'id': akapit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ akapit.id) }}">
    <button class="btn">Skasuj</button>
</form>
