{% extends 'base.html.twig' %}

{% block title %}New Akapit{% endblock %}

{% block body %}
    <!--  h2>Nowy Akapit { { temat.name } }</h2 -->
	<div class="formularz">
        {{ include('admin/akapit/_form.html.twig') }}
        <a href="{{ path('admin_list', {'name': post.temat }) }}">Powrót do postów</a>
    </div>
{% endblock %}
